<div class="well">
  <table class="table table-striped" id="cart-contents">
    <% if current_user ==nil %>
    <% end %>

    <% @shopping_cart.show_products.each do |product, count| %>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Remove</th>
      </tr>
      <td> <span class="thumbnail-custom"><%= image_tag(product.image_path)%></span></td>
      <td> Name: <%= product.name %></td>
      <td> Description: <%= product.description %></td>
      <td> Price: <%= product.price %></td>
      <td>
        <div class="input-group center-buttons">
          <span class="input-group-btn">
             <%= link_to cart_path(product_id: product.id, quantity_change: -1), method: "put" do %><button type="button" class="btn btn-danger btn-number"  data-type="minus" data-field="quant[2]">
               <div style="position: absolute; left: -10000px;">-</div><span class="glyphicon glyphicon-minus"></span>
             </button><% end %>
         </span>
         <input type="text" name="quant[2]" class="form-control input-number" value=<%= count %> min="1" max="100">
        <span class="input-group-btn">
              <%= link_to cart_path(product_id: product.id, quantity_change: 1), method: "put" do %><button type="button" class="btn btn-success btn-number" data-type="plus" data-field="quant[2]">
              <span class="glyphicon">+</span>
            </button><% end %>
        </span>
        </div>
      </td>
      <td>
        <%= button_to "Remove Product", update_cart_path(product_id: product.id), method: :delete, class: "btn btn-success" %>
      <% end %>
      </td>
  </table>

  Cart Total: <%= @shopping_cart.total_price %>
  <% if current_user %>
    <%= link_to "Checkout", orders_path, method: :post, class: 'current_user_accessible' %>
   <% else %>
     <%= link_to "Please login or create an account to checkout.", login_path %>
   <% end %>
</div>
