<% @shopping_cart.show_products.each do |product, count| %>
  <span class="thumbnail-custom"><%= image_tag(product.image_path)%></span>
  Name: <%= product.name %>
  Description: <%= product.description %>
  Price: <%= product.price %>
  Item Total: <%= count %>
<div class="btn-group">
  <%= button_to "+", cart_path(product_id: product.id, quantity_change: 1), method: "put" %>
  <%= button_to "-", cart_path(product_id: product.id, quantity_change: -1), method: "put" %>
</div>
<%= button_to "Remove Product", update_cart_path(product_id: product.id), method: :delete, class: "btn btn-success" %>
  <% end %>
  </br>
Cart Total: <%= @shopping_cart.total_price %>
