<h1>Products on this Order</h1>

<%= @order.user.username %>
<%= @order.id %>
<%= @order.created_at %>
<%= @order.user.full_name %>
<%= @order.user.address %>
<%= @order.status %>
<% @order.products.uniq.each_with_index do |product, index| %>
  <%= link_to product.name, product_path(product) %>
  <%= product.price %>
  <%= @order.quantity[product.id] %>
  <%= @order.line_total[index] %>
<% end %>

Total Price: $<%= @order.total_price %>
Current Status:  <%= @order.status %> <br>
Ordered on: <%= @order.created_at %> <br>

  <% if @order.cancelled? || @order.completed?  %>
    Updated at: <%= @order.updated_at %>
    <% end %><br><br>
<br><br>
