<table class="table table-striped" id="cart-contents">
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
    </tr>
    <td> <span class="thumbnail-custom"><%= image_tag(@product.image_path)%></span></td>
    <td> <%= @product.name%></td>
    <td> <%= @product.description %></td>
    <td> <%= @product.price %></td>
</table>

<% if @product.active?  %>
<%= button_to "Add Product", shopping_carts_path(product_id: @product.id), class: "btn btn-success"%>
<% elsif @product.retired? %>
<%= button_to "Item Retired", products_path, class: "btn btn-success"%>
<% end %>
<% if current_admin? %>
<%= link_to "Delete", product_path(@product), method: :delete %>
<% end %>
